.docs_article {
    display:flex;
    align-items:normal;
}

.docs_article div {
    padding: 15px;
}

.docs_class {
    text-decoration: underline;
    text-decoration-color: rgb(200,200,200);
    font-weight: bold;
}

#fakelink {
    font-style:normal;
    color:aliceblue;
    font-weight: bold;
}

#fakelink:hover {
    text-decoration: underline;
    cursor:pointer;
}